

.product-list-container{
    .product{
        transform-style: preserve-3d;
        transform: translateZ(20px);
        &::after{
            content: "";
            width: 18px;
            transform: rotateY(90deg);
            position: absolute;
            height: 100%;
            left: 1px;
            top: 0;
            background: #4098d9;
            transform-origin: 0% 0%;
        }
        &::before{
            content: "";
            top: auto;
            bottom: 0;
            background: #267ebf;
            transform-origin: 100% 100%;
            transform: rotateX(90deg);
        }
    }
}